body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #0077c9;
}
#content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

#content h2 {
    color: #333;
    margin-bottom: 10px;
}

#content p {
    line-height: 1.5;
    color: #555;
    margin-bottom: 10px;
}
